OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GOOGLE_API_KEY=""
HUGGINGFACEHUB_API_TOKEN=

HUGGINGFACE_MODEL_REPO=


OPENAI_LLM_MODEL=""

CHAT_OPENAI_API=""
CHAT_MODEL_OPENAI_MODEL=""


ANTHROPIC_CHATMODEL=""


GOOGLE_GEN_MODEL=""